.app-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
}

.time-display {
  font-size: 20px;
  font-weight: bold;
}

.search-section {
  margin-top: 10px;
}

.search-bar {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.filters label {
  display: flex;
  align-items: center;
}

.filters input[type="radio"] {
  margin-right: 10px;
}

.filter-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #0056b3;
}

.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.action-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #218838;
}

.footer2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-btn2{
  padding: 10px 20px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-btn2:hover {
  background-color: #138496;
}

.filter-btn2 {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.filter-btn2:hover {
  background-color: #0056b3;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Sol ve sağdaki butonları ayırır */
  border-top: 1px solid #ccc;
}

.footer-left, .footer-right {
  display: flex;
  gap: 15px;
}

.footer-btn {
  padding: 10px 20px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: #138496;
}

.footer .extra-btn {
  background-color: #6c757d;
  color: white;
}

.footer .extra-btn:hover {
  background-color: #5a6268;
}

.footer .highlight-btn {
  background-color: #28a745;
  color: white;
}

.footer .highlight-btn:hover {
  background-color: #218838;
}